Source: ejudge
Section: net
Priority: extra
Maintainer: Yaroslav Leonov <alximik43@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, quilt (>= 0.46-7~), bison, flex, libncursesw5-dev, libexpat1-dev, po-debconf, zlib1g-dev, gawk, libcurl4-openssl-dev|libcurl-dev, uuid-dev, libzip-dev, apache2-dev, libmysqlclient-dev
Standards-Version: 3.9.6
Homepage: http://www.ejudge.ru

Package: ejudge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sharutils, apache2 | httpd, gawk,
 adduser
Suggests: libjs-dojo-dojox, emboss-lib
Description: Programming contest management system
 Ejudge is a programming contest management system.


Package: ejudge-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ejudge (= ${binary:Version}), ${misc:Depends}
Description: Programming contest management system
 Ejudge is a programming contest management system.
 .
 This package contains the debugging symbols for ejudge

