#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

if ! db_get ejudge/kernel_patch_note; then
    db_input critical ejudge/kernel_patch_note
    db_set ejudge/kernel_patch_note seen
fi

db_stop

exit 0

db_input low ejudge/username || true
db_go

db_input low ejudge/groupname || true
db_go

db_input low ejudge/directory || true
db_go

db_stop
