#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh --with quilt,apache2 --without python2,pypy,python-support,python3 $@ --parallel 

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	[ -f ejudge.ru_RU.KOI8-R.po.bak ] || cp -a ejudge.ru_RU.KOI8-R.po ejudge.ru_RU.KOI8-R.po.bak
	./configure --build=x86_64-linux-gnu \
	--prefix=/usr --includedir=\$${prefix}/include \
	--mandir=\$${prefix}/share/man \
	--infodir=/usr/share/info \
	--sysconfdir=/etc \
	--localstatedir=/var \
	--libexecdir=/usr/lib \
	--disable-maintainer-mode \
	--disable-dependency-tracking \
	--disable-rpath  \
	--enable-charset="UTF-8" \
	--enable-socket-path=/var/run/ejudge/userlist-socket \
	--enable-super-serve-socket=/var/run/ejudge/super-serve-socket \
	--enable-new-server-socket=/var/run/ejudge/new-server-socket \
	--enable-cgi-bin-dir=/usr/lib/cgi-bin \
	--enable-cgi-conf-dir=/usr/lib/ejudge/cgi-data \
	--enable-ejudge-xml=/etc/ejudge/ejudge.xml \
	--enable-contests-dir=/srv/ejudge/contests \
	--enable-contests-home-dir=/srv/ejudge  \
	--enable-local-dir=/var/spool/ejudge \
	--enable-ajax \
	--enable-lang-config-dir=/var/lib/ejudge/compile/conf/lang.d \
	--with-mysql=/usr/lib/mysql/lib

# note: dont change /var/... to \$${localstatedir}. configure will write it to config.h as is
#       same for $${prefix}

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=ejudge-dbg

install_root:="$(CURDIR)/debian/ejudge"
.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install --destdir=debian/ejudge
	set -x
	mkdir -p "$(install_root)/usr/sbin/"
	mv "$(install_root)/usr/bin/ejudge-control" "$(install_root)/usr/sbin/"
	mv "$(install_root)/usr/bin/ejudge-config" "$(install_root)/usr/sbin/"
	mv "$(install_root)/usr/bin/ejudge-upgrade-web" "$(install_root)/usr/sbin/"
	# removing extra binaries
	rm "$(install_root)/usr/sbin/uudecode"
	# making dirs in var
	mkdir "$(install_root)/var/lib/ejudge/compile/scripts"
	mkdir "$(install_root)/var/lib/ejudge/compile/conf"
	# making plugins directory
	mkdir "$(install_root)/usr/lib/ejudge/plugins"
	# installing sample contest
	mkdir "$(install_root)/usr/share/ejudge/sample_config"
	cp -r "$(CURDIR)/debian/extra/000001" "$(install_root)/usr/share/ejudge/sample_config"
	cp "$(CURDIR)/debian/extra/000001.xml" "$(install_root)/usr/share/ejudge/sample_config"
	# installing default config
	cp "$(CURDIR)/debian/extra/ejudge.xml" "$(install_root)/etc/ejudge/ejudge.xml"
	# installing default userlist
	cp "$(CURDIR)/debian/extra/userlist.xml" "$(install_root)/usr/share/ejudge/sample_config"
	# istalling missing dirs
	mkdir "$(install_root)/var/spool/ejudge/work-disk/work"
	mkdir "$(install_root)/usr/lib/ejudge/cgi-data"
	dojo_package=$$(ls $(CURDIR)/debian/extra/ | grep dojo-release-.*.tar.gz | head -n 1);\
	  tar -xzf "$(CURDIR)/debian/extra/$${dojo_package}" --directory "$(install_root)/usr/share/ejudge/style" --transform "s/^$${dojo_package%.tar.gz}\///"  --wildcards "$${dojo_package%.tar.gz}/*"


.PHONY: override_dh_auto_clean
override_dh_auto_clean:
	dh_auto_clean
	[ ! -f ejudge.ru_RU.KOI8-R.po.bak ] || mv ejudge.ru_RU.KOI8-R.po.bak ejudge.ru_RU.KOI8-R.po
	rm -f .build
	rm -f style/ejudge-upgrade-web
	rm -f python/streamio/Makefile
	rm -f python/Makefile
	rm -f debian/ejudge.manpages  #remove autogenerated ejudge.manpages
	rm -f reuse/reuse_*.o
	rm -f ejudge-install.sh
	rm -f checkers/ejudgecheckers.po
	rm -rf checkers/locale/

.PHONY: override_dh_installman
override_dh_installman:
	echo debian/manpages/* | sed 's/[[:space:]]/\n/g' > debian/ejudge.manpages
	dh_installman
	dir=debian/ejudge; set -x;\
	mkdir -p $${dir}/usr/share/man/man1; \
	rm -f $${dir}/usr/sbin/ejudge-install.sh; \
	for file in $${dir}/usr/bin/* $${dir}/usr/sbin/* ; do \
		binary=$${file##*/}; \
		if [ $$binary = ejudge-install.sh ]; then \
			continue; \
		fi; \
		if [ ! -f debian/manpages/$${binary}.1 ]; then \
			if help2man $${file} >/dev/null 2>&1; then \
				help2man --name="ejudge server binary autogenerated manpage. This binary is not intended to be run by user." $${file} | gzip --best -c > $${dir}/usr/share/man/man1/$${binary}.1.gz; \
			else \
				ln -s ../man7/ejudge.7.gz $${dir}/usr/share/man/man1/$${binary}.1.gz; \
			fi; \
		fi; \
	done;

